.container
{
    
    /* background-image: url('./background.png'); */
    /* background-image: url('./background2.jpg'); */
    background-position: center center;
    background-size: cover;
    /* min-height: 100vh !important; */
}
.background
{
    background-position: center center;
    background-size: cover;
    min-height: 100vh !important;
}
.homeDet
{
    padding: 29px 98px 0px 98px !important; 
}
.line
{
    width: 38px;
    height: 2px;
    background-color: #FFB606;
    margin-left: 38px !important;
    bottom: 6px !important;
    
}
.line2{
    top: 25px;
}
.loginBtn
{
    color: #FFB606;
    border: 1px solid #FFB606 !important;
}
.contpos
{
    min-height: 100vh !important;
}
@media (max-width: 991.9px) {

    .line
    {
    margin-left: 0px !important;

    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px)  {
 
    .line
    {
      
        margin-left: 13px !important;
    }
  }
  